.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  height: 400px;
  padding: 10px;
  overflow-y: auto;
}

h1 {
  font-size: 12px;
  font-weight: 700;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: 0.5em;
  padding: 10px;
  margin-top: 5px;
  cursor: move;
  /*opacity: 0.1;*/
}

[draggable] {
  user-select: none;
}
